language: node_js

node_js:
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"

script:
  - npm test

stages:
  - test
  - name: coverage
    if: branch = master

jobs:
  include:
    - stage: coverage
      node_js: "8"
      script:
        - npm install coveralls codacy-coverage codeclimate-test-reporter
        - npm run coverage
        - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls || true
        - cat ./coverage/lcov.info | ./node_modules/.bin/codacy-coverage || true
        - cat ./coverage/lcov.info | ./node_modules/.bin/codeclimate-test-reporter || true
