const htmlMiner = require('./lib');

const html = `
<h3>Hello World!</h3>
`;

const selector = 'h3';

// eslint-disable-next-line no-console
console.log(
    JSON.stringify(htmlMiner(html, selector), undefined, 2),
);
