nav > a:hover img {
  animation: animationFrames ease-in-out .5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease-in-out .5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease-in-out .5s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out .5s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0%   { transform: rotate(0deg);   }
  71%  { transform: rotate(-45deg); }
  100% { transform: rotate(0deg);   }
}

@-moz-keyframes animationFrames{
  0%   { -moz-transform: rotate(0deg);   }
  71%  { -moz-transform: rotate(-45deg); }
  100% { -moz-transform: rotate(0deg);   }
}

@-webkit-keyframes animationFrames {
  0%   { -webkit-transform: rotate(0deg);   }
  71%  { -webkit-transform: rotate(-45deg); }
  100% { -webkit-transform: rotate(0deg);   }
}

@-o-keyframes animationFrames {
  0%   { -o-transform: rotate(0deg);   }
  71%  { -o-transform: rotate(-45deg); }
  100% { -o-transform: rotate(0deg);   }
}

@-ms-keyframes animationFrames {
  0%   { -ms-transform: rotate(0deg);   }
  71%  { -ms-transform: rotate(-45deg); }
  100% { -ms-transform: rotate(0deg);   }
}

/*****/

* {
    box-sizing: border-box;
}

.cm-s-default .cm-attribute {
    color: #07a;
}

.cm-s-default .cm-tag,
.cm-s-default .cm-number {
    color: #905;
}

.cm-s-default .cm-property {
    color: #dd4a68;
}

.cm-s-default .cm-string,
.cm-s-default .cm-string.cm-property {
    color: #690;
}

.cm-s-default .cm-comment {
    color: #708090;
}

.cm-s-default .cm-keyword {
    color: #07a;
}

.cm-s-default .cm-def {
    color: #044765;
}

.cm-s-default .cm-variable {
    color: #000;
}

/***********************/

nav {
    font-size: 24px;
    font-family: sans-serif;
    color: #907b60;
    line-height: 55px;
    padding: 0 15px;
    width: 100%;
    height: 55px;
    background-color: #eff5fa;
    cursor: default;
}

nav img {
    width: 33px;
    height: 33px;
    vertical-align: middle;
    margin-top: -8px;
    margin-right: 12px;
    position: absolute;
}

nav > a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    padding: 14px 4px 0;
}

nav h1 {
    margin: 0;
    font-size: inherit;
    display: inline;
    font-weight: normal;
    margin-left: 23px;
}

nav input[type=url] {
    vertical-align: middle;
    margin-left: 15px;
    padding: 0 10px;
    color: #0077a9;
    border: 0;
    outline: none !important;
    height: 55px;
    box-sizing: border-box;
    line-height: 55px;
    margin: 0;
    background: none;
    width: 50vw;
}
nav select {
    width: 50vw;
    -webkit-appearance: none;
    border: 0;
    height: 50px;
    background: no-repeat;
    outline: none !important;
    color: #0077a8;
    font-size: inherit;
}

nav ul {
    display: inline-block;
    line-height: 55px;
    margin: 0;
    font-size: 14px;
    color: #0077a9;
    vertical-align: top;
    padding-left: 30px;
}

nav ul li {
    list-style: none;
    padding: 0 12px;
    line-height: 55px;
    height: 55px;
    border: 0 solid #0077a9;
    cursor: pointer;
    transition: border .3s;
    display: inline-block;
}

nav > a {
    border: 0 solid;
    transition: border .3s;
}

/*nav > a:hover,*/
nav ul li:hover {
    border-width: 0 0px 2px 0;
}

nav ul li i {
    margin-right: 4px;
}


/***********************/


body {
    margin: 0;
    overflow: hidden;
}

.CodeMirror {
    height: 100%;
}

#JSONEditor-input, #JSONEditor-output {
    width: 50%;
    display: inline-block;
}

#JSONEditor-input .CodeMirror-code, #JSONEditor-output .CodeMirror-code {
    color: #999;
}

#JSONEditor-output .CodeMirror-code {
    cursor: default;
}

.editor--container {
    font-size: 0;
    width: 100%;
    height: calc(100vh - 55px);
    position: absolute;
    bottom: 0;
    left: 0;
}

.editor--element {
    position: relative;
    font-size: initial;
    height: 50%;
    vertical-align: top;
    border: 1px solid #d0e2ed;
}

.editor--element:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    background-color: #d0e2ed;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    font-family: sans-serif;
    z-index: 4;
    opacity: .8;
}
#HTMLEditor:after {
    content: "html";
}
#JSONEditor-input:after {
    content: "selector";
}
#JSONEditor-output:after {
    content: "htmlMiner(html, selector)";
}

.fa-spinner.fa-pulse {
    display: none;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    color: #606060;
}
